$red:#ac0010;
$siteBgColor: #A4BAC0;
$primaryColor: #ffffff;
$headingColor: #ffffff;
$textColor: #ffffff;
$black: #000000;
$white: #ffffff;
$lightGrey: #8B8B8B;
$blueColor: #008FBE;
$primary: #71CBD2;
$black: #000;
$white: #fff;
$light-black: #333333;
$grey: #4c4d4f;
$dark-grey: #34302e;
$light-grey: #D2D2D2;
$gold: #E1CC20;
$light-blue: #71CBD2;
$map-color: #ff4136;
$map-bg: #efefed;
$mobile-nav: #333333;
$error: #d84a4a;
$bg_lighter: #ececec;