section {
    overflow: hidden;
}

.content-section {
    &__home-banner {
        position: relative;
        overflow: hidden;
        @mixin atELarge {
            height: 100vh;
        }
        .slide-heading {
            h1 {
                overflow: hidden; /* Clip effect to hide content initially */
                display: inline-block;
                span {
                    display: block;
                    overflow: hidden; /* Ensure animation stays within the container */
                    @mixin atELarge {
                        height: 130px; /* Adjust the height to fit the text */
                    }
                    strong {
                        display: block;
                        transform: translateY(
                            100%
                        ); /* Start below the visible area */
                    }
                }
            }
        }
        .slider-img {
            position: relative;
            overflow: hidden; /* Ensures the image stays inside the container */
            height: 100%; /* Ensures image covers the entire container */
        }

        .parallax-image {
            width: 100%;
            height: 100%; /* Extra height for the parallax effect */
            object-fit: cover; /* Ensure the image scales properly */
            transform-origin: center center; /* Smooth scaling and movement */
            @mixin atELarge {
                height: 120%; /* Extra height for the parallax effect */
            }
            @media (max-width: 1200px) {
                transform: translate(0%, 0%) !important;
            }
        }

        .slider-img {
            img {
                height: 650px;
                object-fit: cover;
                @mixin atELarge {
                    object-position: -680px;
                    object-position: center;
                    height: auto !important;
                }
            }
        }
        .slide-content {
            position: absolute;
            top: 20%;
            left: 0;
            right: 0;
            z-index: 1;
            transform: translateY(-50%);
            text-align: center;
            h1 {
                font-size: 32px;
                font-weight: 700;
                color: $white;
                line-height: 1.5;
                @mixin atELarge {
                    font-size: 92px;
                }
            }
            .slide-action {
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 16px;
                    color: $white;
                    letter-spacing: 1px;
                    position: relative;
                    &:after {
                        width: 50px;
                        height: 50px;
                        content: '';
                        position: absolute;
                        right: -16px;
                        top: 55%;
                        border-radius: 100%;
                        bottom: 0;
                        border: 1px solid #ffffff;
                        z-index: -1;
                        transform: translateY(-50%);
                    }
                    span {
                        img {
                            width: 80px;
                        }
                    }
                }
            }
        }
        .swiper-button-next,
        .swiper-button-prev {
            display: none;
        }
    }
    &__home-projects {
        padding: 80px 0 60px;
        position: relative;
        @mixin atELarge {
            padding: 120px 0 60px;
        }
        .property-text {
            margin: 20px 0;
            h3 {
                font-size: 26px;
                font-weight: 400;
            }
        }
        .project-block {
            &-grid {
                margin-bottom: 80px;
            }
            &-img {
                position: relative;
                img {
                    height: 450px;
                    object-fit: cover;
                    object-position: center;
                    @mixin atELarge {
                        height: 300px;
                    }
                    @mixin atXlLarge {
                        height: 400px;
                    }
                    @mixin atXllLarge {
                        height: 400px;
                    }
                }
            }
            &-status {
                position: absolute;
                bottom: 10px;
                z-index: 11;
                left: 15px;
                background: $red;
                padding: 5px 20px;
                color: #ffffff;
                font-size: 12px;
                letter-spacing: 1px;
                font-weight: 700;
            }
            &-title {
                margin-top: 16px;
                h3 {
                    font-size: 1.2em;
                    letter-spacing: 0.5px;
                    font-weight: 700;
                    margin-bottom: 0;
                }
            }
            &-price {
                margin-bottom: 25px;
                margin-top: 15px;
                span {
                    font-weight: 700;
                    color: $red;
                }
            }
            &-location {
                span {
                    font-size: 14px;
                    letter-spacing: 0.5px;
                    color: #9c9b9b;
                    margin: 5px 0px;
                    display: block;
                }
            }
            &-action {
                a {
                    color: $black;
                    text-decoration: none;
                    font-size: 14px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    margin-top: 10px;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    transition: all 0.3s ease-in-out;
                    span {
                        margin-left: 10px;
                        transition: all 0.3s ease-in-out;

                        img {
                            width: 60px;
                        }
                    }
                    &:hover {
                        letter-spacing: 2px;
                        span {
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
    }
    &__property-by-city {
        padding: 80px 0;
        background: url('/wp-content/uploads/2024/09/tim-gouw-sfUxCShoKbE-unsplash.jpg')
            no-repeat;
        object-fit: cover;
        position: relative;
        @mixin atELarge {
            padding: 120px 0;
        }
        .bg-red-overlay {
            background: rgb(172, 0, 16, 0.9);
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 111;
            width: 100%;
            height: 100%;
        }
        .city-list {
            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                list-style: none;
                padding-left: 0;
                margin-bottom: 0;
                @mixin atELarge {
                    justify-content: flex-start;
                }
                li {
                    color: $white;
                    flex: 0 0 auto;
                    width: 50%;
                    font-weight: 100;
                    display: flex;
                    align-items: center;
                    letter-spacing: 1px;
                    margin-bottom: 10px;
                    @mixin atMedium {
                        width: 33.33%;
                    }
                    @mixin atELarge {
                        font-size: 18px;
                        width: 20%;
                        margin-bottom: 5px;
                        font-size: 18px;
                    }
                    @mixin atXlLarge {
                        width: 20%;
                        margin-bottom: 20px;
                        font-size: 23px;
                    }
                    span {
                        width: 30px;
                        text-align: right;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 0px;
                        @mixin atELarge {
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
            }
        }
    }
    &__services {
        padding: 80px 0;
        @mixin atELarge {
            padding: 120px 0;
        }
        .services-block {
            &--wrap {
                background: #ededed;
                padding: 35px;
                margin-bottom: 25px;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                @mixin atMedium {
                    height: 250px;
                }
                @mixin atELarge {
                    height: 310px;
                    margin-bottom: 60px;
                    padding: 25px;
                }
                @mixin atXlLarge {
                    padding: 35px;
                }
            }
            &--title {
                h3 {
                    margin-bottom: 25px;
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: 700;
                    letter-spacing: 1px;
                    @mixin atELarge {
                        margin-bottom: 45px;
                        font-size: 14px;
                        height: 40px;
                    }
                    @mixin atXlLarge {
                        font-size: 18px;
                    }
                }
            }
            &--text {
                p {
                    margin-bottom: 0;
                    line-height: 20px;
                    letter-spacing: 0.5px;
                    font-size: 14px;
                    @mixin atELarge {
                        font-size: 16px;
                        line-height: 24px;
                        font-size: 14px;
                    }
                    @mixin atXlLarge {
                        line-height: 24px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    &__project-gallery {
        margin-top: 30px;
        margin-bottom: 60px;
        @mixin atELarge {
            margin-top: 0;
            margin-bottom: 0;
        }
        .gallery-heading {
            h3 {
                margin-bottom: 30px;
                font-size: 24px;
                letter-spacing: 2px;
                font-weight: 500;
                @mixin atELarge {
                    font-size: 35px;
                    margin-bottom: 40px;
                }
            }
        }
    }
    &__site-register {
        padding: 30px 0 60px;
        background: #f8f8f8;
        @mixin atELarge {
            padding: 120px 0;
        }
        .section-heading {
            h3 {
                font-size: 20px;
                letter-spacing: 1px;
                font-weight: 300;
                text-transform: capitalize;
                @mixin atELarge {
                    font-size: 35px;
                    letter-spacing: auto;
                }
                @mixin atELarge {
                    font-size: 28px;
                }
                @mixin atXlLarge {
                    font-size: 35px;
                }
                span {
                    display: block;
                    color: $black;
                    letter-spacing: 0;
                    font-size: 18px;
                    margin-bottom: 0;
                    @mixin atELarge {
                        font-size: 42px;
                    }
                    @mixin atXlLarge {
                        font-size: 66px;
                    }
                }
            }
        }
        .register-block {
            .field {
                width: 100%;
                display: flex;
                flex-direction: column;
                label {
                    display: inline-block;
                    color: $white;
                    margin-bottom: 15px;
                    letter-spacing: 1px;
                }
                input,
                select {
                    padding: 12px;
                    background: transparent;
                    box-shadow: none;
                    border: 1px solid $white;
                    color: $black;
                    outline: 0;
                    margin-bottom: 30px;
                    &::placeholder {
                        color: $black;
                        opacity: 0;
                    }
                }
            }
            .submitt-button {
                margin-top: 30px;
                input.btn.btn-primary {
                    background: $white;
                    color: $black;
                    border-radius: 0;
                    width: 230px;
                    border: 0;
                    padding: 10px;
                    font-size: 18px;
                    font-weight: 400;
                }
            }
            .consent {
                margin-top: 38px;
                p {
                    display: flex;
                    align-items: flex-start;
                    label {
                        color: #ffffff;
                        font-size: 12px;
                        margin-left: 15px;
                    }
                }
            }
        }
        button.btn.btn-primary.red-button {
            background: #ac0010;
            padding: 10px 60px;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: #ac0010;
            border-radius: 0;
        }
        .form-disclaimer {
            p {
                margin: 0 auto 30px;
                text-align: center;
                font-size: 10px;
                @mixin atELarge {
                    font-size: 12px;
                    max-width: 50%;
                }
            }
        }
    }
    &__thank-you {
        padding: 120px 0;
    }
}

.single-project-page {
    padding: 0 0 0;
    @mixin atELarge {
        padding: 80px 0 0;
    }
    @media (max-width: 768px) {
        .register-action {
            position: fixed;
            /* bottom: 0; */
            z-index: 1;
            width: 150px;
            right: 0;
            transform: rotate(-90deg) translateY(-50%);
            transform-origin: right center;
            top: 30%;
            a.btn.btn-primary {
                width: 100%;
                font-size: 12px;
                letter-spacing: 2px;
                padding: 7px;
            }
        }
    }
    .single-project-logo {
        img {
            width: 120px;
        }
    }
    .sigle-banner-content {
        @mixin atELarge {
            max-width: 90%;
        }
        p {
            font-size: 16px;
            line-height: 1.8;
            font-weight: 300;
            @mixin atELarge {
                line-height: 2.1;
            }
            @mixin atXlLarge {
                font-size: 18px;
                line-height: 2.1;
            }
        }
    }
    .sigle-banner-title {
        margin-bottom: 30px;
        h1 {
            font-size: 5.5vw;
            margin: 0;
            @mixin atELarge {
                font-size: 3.5vw;
            }
            span {
                font-size: 3.5vw;
                display: block;
                margin-top: 10px;
                color: #b6b6b6;
                @mixin atELarge {
                    font-size: 1.5vw;
                }
            }
        }
        h2 {
            font-weight: 300;
            font-size: 14px;
            line-height: 1.6;
            margin-top: 15px;
            margin-bottom: 0;
            @mixin atMedium {
                font-size: 1.2rem;
            }
            @mixin atXlLarge {
                font-size: 1.5rem;
            }
            p {
                margin-bottom: 0;
                br {
                    display: none;
                    @mixin atMedium {
                        display: block;
                    }
                }
            }
        }
    }

    .single-project-banner {
        .single-banner-image {
            height: auto;
            overflow: hidden;
            margin-top: 0;
            @mixin atELarge {
                margin-top: 0;
                height: 550px;
            }
            @mixin atXlLarge {
                height: 850px;
            }
            img {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }
        .location-text {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 12px;
            margin-top: 10px;
            @mixin atELarge {
                margin-top: 15px;
            }
            span {
                font-weight: 700;
                font-size: 12px;
                @mixin atELarge {
                    font-size: 16px;
                }
                img {
                    width: 20px;
                }
            }
        }
        .property-cover {
            padding: 120px 0;
            @mixin atELarge {
                padding: 120px 0 0;
            }
            .property-content {
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        list-style: none;
                        font-size: 16px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 30px;
                        margin: 0 0 20px;
                        border-bottom: 1px solid #e7e7e7;
                        padding-bottom: 20px;
                        font-weight: 100;
                        @mixin atXlLarge {
                            gap: 60px;
                            padding-bottom: 30px;
                            margin: 0 0 30px;
                            font-size: 22px;
                        }
                        span.property-attr-title {
                            width: 25%;
                            flex: 0 0 auto;
                        }
                        span.property-attr-data {
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}
